<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DaaS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<form action="/" method="POST">
<div id="container">
    <h1 style="color: #ffffff">Decryption as a Service</h1>
    <p style="color: #ffffff">Free trial decryption may only be performed once per ciphertext.</p>
    <p style="color: #ffffff">
        <a href="/sample">Sample Ciphertexts</a> &nbsp; | &nbsp; <a href="/key">Server Public Key</a>
    </p>
    <span class="input message">
        <textarea name="ciphertext" class="input__field" id="input-5"></textarea>
        <label for="input-5" class="input__label">
            <span class="input__label-content">Ciphertext</span>
        </label>
    </span>
    <button id="send-button" type="submit">Send</button>
</div>
</form>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{{ url_for('static',filename='main.js') }}"></script>

</body>
</html>
